.container {
    background-color: beige;
    /* background: radial-gradient(rgb(61, 61, 61), rgb(0, 0, 0)); */
    width: 100%;
    height: 110vh;
}
.headline {
    font-size: 40px;
    padding-top: 40px;
    font-weight: bold;
    color: black;
}
.box {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding:50px 0;
    /* height: 100vh; */
    /* background-color: red; */
}
.section1{
    width: 30%;
    height:400px;
    /* background-color:rgba(0, 217, 255, 0.479); */
}
.section1 img{
    background-color: black;
    width:100%;
    display: block;
    object-fit:cover;
    object-position: center;
    height:400px;
    border-radius: 10px;
}
.trainername{
    /* background-color: red; */
    font-size:20px;
    font-weight: bold;
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid grey;
    background-color: black;
    color: rgb(255, 255, 255);
    display: block;
    /* width:max-content; */
    border-radius: 40px;
}

@media (max-width:900px){
    .container{
        height:max-content;
    }
    .section1{
        width: 60%;
        height:400px;
        margin-top: 10px;
    }   
    .trainername{
        display: none;
    }
}
@media (max-width:665px){
    .section1{
        width: 80%;
        height:400px;
        margin-top:10px;
    }   
}