.container-header{
    width:100%;
    background-color: pink;
}
.main{
    width: 100%;
    padding:15px 0;
    color:rgb(224, 224, 224);
    z-index: 100;
    position:fixed;
    display: flex;
    scroll-behavior: smooth;
    align-items: center;
    font-weight: bold;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
}
.logo {
    font-size: 30px;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(170, 170, 170) ,rgba(255, 255, 255, 0.986), rgb(165, 165, 165));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.6s;
}
p a{
    color:white;
}
p a:hover{
    color:red;
}
.middle-part {
    display: flex;
}
.middle-part p{
    padding: 0 20px;
}
.middle-part p:hover{
    transition: 0.4s;
}
.register{
    border:none;
    border-radius: 20px;
    padding: 10px 20px ;
    color:white;
    transition: 1s;
    background-color:black;
}
.register:hover{
    transition: 0.5s;
    transform: scale(1.1);
    border-radius: 5px;
    color: black;
    background-color:rgb(72, 255, 0);
}
.navbar, .crossbtn, .menubtn{
    display: none;
}
@media (max-width:800px){
    .middle-part{
        display: none;
    }
    .logo{
        font-size: 20px;
    }
    .navbar{
        display:block;
        position: fixed;
        height:100vh;
        width:300px;
        top:10%;
        z-index: 1000;
        right:0;
        transform: translateX(+300px);
        transition: 0.5s;
        background-color:rgba(255, 255, 255, 0.89);
    }
    .navbar.active{
        transform: translateX(0);
    }
    .navbar, .crossbtn, .menubtn{
        display: block;
    }
    .navbar p a{
        padding:10px 40px;
        color: black;
    }
    .navbar p  a:hover{
        color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.123);
    }
}