.start-page
{   
    width:100%; 
    scroll-behavior: smooth;
    height:100vh;
    background-image: url("https://wallpaper.dog/large/20480654.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.headline{
    color:white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    font-size: 50px;
}
.headline2{
    width: 50%;
    padding:20px 0;
    margin:auto;
    font-size:20px;
    color: white;
}
.btn-container{
    border:none;
}
.sign-up{
    cursor:pointer;
    border:none;
    padding: 15px 20px;
    letter-spacing: 1.2px;
    color: white;
    width: max-content;
    text-transform: uppercase;
    font-weight:bold;
    border-radius: 40px;
    background-color: rgb(202, 0, 0);
}
.sign-up:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}

@media (max-width:600px){
    .headline{
        font-size: 30px;
    }
    .headline2{
        font-size:18px;
        /* letter-spacing:-10px; */
    }
}

@media (max-width:450px){
    .headline{
        font-size: 30px;
    }
    .headline2{
        font-size:14px;
        /* letter-spacing:-10px; */
    }
}