.container{
    width: 100%;
    height:100vh;
    background-color: black;
    position: relative;
}
.left{
    width: 100%;
    height: 100vh;
    justify-content: center;
}
video{
    width: 100%;
    height:100vh;
    object-fit: cover;
    z-index: -1;
}
.overlay{
    position:absolute;
    width: 100%;
    height:100vh;
    background-color: rgb(0, 0, 0,.6);
}
.content{
    position: absolute;
    color:rgb(255, 255, 255);
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    top:0;
    text-align: justify;
}
.content h1{
    font-size: 300px;
    letter-spacing: 4px;
    margin:0;
    padding:10px 0;
}
